<!DOCTYPE html>
<style type="text/css">
* {
    padding : 0;
    margin : 0;
    background-color: #171717;
    text-align : center;
    justify-content: justify;
    color : lightgrey;
    text-shadow : 0 0 2px black;    
}

a:link, a:visited {
    color : pink;
    text-decoration: none;
    text-shadow: 0 0 7px violet;
}

a:hover, a:active {
    text-shadow: black 0 0 10px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color : lightblue;
    padding : 50px;
    text-shadow : 0 0 5px lightblue;
    font-size : 500%;
}

h4 {
    margin-top : 8px;
    margin-bottom : 4px;
}

.commentary {
    margin : 10px 400px;
    border : 1px solid pink;
    box-shadow : 0 0 5px violet;
}

.bg {
    color : skyblue;
}

.space {
    margin-top : 30px;
    border-top : solid 1px #303030;
    padding : 20px 0;
    margin-left : 280px;
    margin-right : 280px;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='style.css'>
</head>
<body>
    <h1>GOSSIP N°<%= id + 1 %></h1>
    <p> <h4 class='bg'>Son auteur :</h4> <%= gossip.name %><br></p>
    <p> <h4 class='bg'>Le contenu du potin :</h4> <%= gossip.value %><br><br></p>

    <div class='space'>
        <a href="/">Lien pour revenir à la page des potins</a></p><br>
        <a href="/gossips/<%=id%>/comment">Poste un commentaire Chacal</a></p><br>
        <a href="/gossips/<%=id%>/edit">Edit Gossip</a></p>
    </div>
    <%Comment.index_table(id).each do |comment|%>
    <div class='commentary'>
    <p class='bg'>Username</p> <%=comment[0]%><br>
    <p class='bg'>Comment</p> <%=comment[1]%>
    </div>
    <%end%>
</body>
</html>